<div class="container">
  <div class="row p-0 m-2">
    <div class="col">
      <div class="input-group mb-3">
        <input #filterBox type="text" class="form-control" placeholder="Course"
          aria-label="Course"
          aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"
            (click)="filterBy(filterBox.value)"
            id="button-addon2">Search</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="input-group mb-3">
        <select #sortByOption class="form-control form-control">
          <option>Sort By</option>
          <option>Duration</option>
          <option>Next-Session</option>
        </select>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary"
            (click)="sortBy(sortByOption.value)">Sort</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row p-0 m-2">
    <div class="col">
      <div>
        Number of courses found:
        <span class="badge badge-pill m-2" style='background-color:
          darkorange;'>
          {{ courseCount }}
        </span>
      </div>
    </div>
    <div class="col">
      For the course matching:
      <span class="badge badge-light" style='background-color:
        cornflowerblue;'>
        {{ searchedCourse }}
      </span>
    </div>
  </div>

  <div class="row p-0 m-1">
    <div class="card text-center p-0 m-2" *ngFor="let item of courses">
      <div class="card-header bg-primary text-warning">
        Course ID : {{ item["Course Id"] }}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ item["Course Name"] }}</h5>
        <p class="card-text">
          {{ item["Provider"] }}
        </p>
        <div class="border border-dark m-2 rounded">
          <span class="bg-light">
            <div>
              Parent Cousre: {{ item["Parent Subject"] }}
            </div>
            <div>
              Child Course: {{ item["Child Subject"] }}
            </div>
          </span>
        </div>
        {{ item["Universities" ]["Institutions"] }}
        <div class="shadow-none p-3 mb-1 bg-light rounded">
          <div class="border border-dark rounded">
            Next Session :
            <span class="badge badge-pill m-2" style='background-color:
              greenyellow;'>
              {{item["Next Session Date"] }}
            </span>
            <i class="fas fa-calendar-check"></i>
          </div>
          <i class="fas fa-hourglass-half"></i> {{ item["Length"] }}
        </div>
      </div>
      <div class="card-footer text-muted">
        <a href='{{ item[" Url" ] }}'>View Details</a>
      </div>
    </div>
  </div>

  <div class="border">
    <button type="button" class="btn btn-primary btn-lg btn-block p-2"
      (click)="loadMore()">Load
      More</button>
  </div>
  <div class="border m-2 p-2">
    © 2019
  </div>
</div>
